<footer class="text-center text-lg-start bg-light text-muted">
   
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    style="background-color: #FFD0E4; color: #000;">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </section>
   
    <section class="" >
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                CARTES ACCEPTÉES
            </h6>
            <div>
                <img src="https://beautystore.tn/img/cms/cartes.png" alt="" width="164" height="26">
            </div>
          
               
            
            
          </div>
         
  
        
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            
            <h6 class="text-uppercase fw-bold mb-4">
             TERMES ET CONDITION
            </h6>
            <p>
              <a href="#!" class="text-reset"><i class="fa-solid fa-truck"></i>  Livraison</a>
            </p>
            <p>
              <a href="#!" class="text-reset"><i class="fa-solid fa-hand-holding-dollar"></i>  Paiement</a>
            </p>
            
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">
                VOTRE COMPTE
            </h6>
            <p>
              <a href="#!" class="text-reset">Informations personnelles</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Commandes</a>
            </p>
           
            <p>
              <a href="#!" class="text-reset">My Loyalty points</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
          </div>
         
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
            <h6 class="text-uppercase fw-bold mb-4">
                Contact
            </h6>
            <p><i class="fas fa-home me-3">
              
            </i> Therapy - Makeup Store</p>
            <p>
              <i class="fas fa-envelope me-3"></i> makeupstore@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i>(+216) 20 731 161</p>
            <p><i class="fa-solid fa-location-pin"></i>   
                Route de la Marsa
                Bureau B-7, 2eme Étage,
                2046 Tunisie   
              </p>
          </div>
         
        </div>
       
      </div>
    </section>
    
  
   
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">Therapy MakeupStore</a>
    </div>
  

  </footer>


