#slider{
    margin-top: 60px;
}

#slider .item {
    height: 400px;
}

#slide1{
    background: url('../../../assets/acc.png') center no-repeat;
}

#slide2{
    background: url('../../../assets/acc2.png') center no-repeat;
}

#slide3{
    background: url('../../../assets/acc3.png') center no-repeat;
}

#slide4{
    background: url('../../../assets/acc4.png') center no-repeat;
}

#slide5{
    background: url('../../../assets/acc5.png') center no-repeat;
}

.carousel-caption{
    font-size: 18px;
}

