<main>
          
                  
    
    <header id="header">
      
       

<div class="header-banner">

</div>



<nav class="header-nav" style="color:#000;font-size:16px;font-weight: 400.25;background-color:#ffffff">
  <div >
    <div class="row">
    
      <div class="hidden-md-up" style="background-color: #ffffff; height: 32px;">
        <div class="col-md-12 col-xs-12" style="white-space: nowrap ;text-align:center">
          <marquee behavior="scroll" direction="up" scrollamount="1" style=" height: 32px; text-align: center"><a style="color:#000!important" href="tel:+21621161000"><span style="margin-right: 20px;"><i style="color:#000" class="fa fa-phone"></i> (+216) 52 195 848 </span></a><br><br><i style="color:#000" class="fa fa-truck"></i> Livraison gratuite à partir de 150dt d'achat</marquee>
        </div>
       
      </div>

     




      <div class="hidden-md-up text-sm-center mobile">
          <div class="float-xs-left" id="menu-icon">
            
          </div>
          <div class="float-xs-right" id="_mobile_cart">
          </div>
          <div class="float-xs-right" id="_mobile_user_info"></div>
          <div class="clearfix"></div>
        </div>
      <div class="top-logo" id="_mobile_logo" id="hi">

          <img class="logo img-responsive" src="assets/T-removebg-preview.png" width="250px" height="150px" >
      








<div class="header-top">
  <div class="container-fluid" style="padding:0;">
    <div class="row" style="margin:0;">
      


     








    </div>
  </div>
  </div>
  
  
  
  </div>
  </div>
  </div>
  </nav>
  </header>
  </main>
