<div clas="header">
<div class="container" style="color:#000;font-size:16px;font-weight: 400.25;background-color:white">
    <div class="row">
        
    <div class="col-md-9 " style="padding: 8px 6px 0px; white-space: nowrap; text-align:center">
   <a style="color:#000" href="tel:+21621161000">
   <span style="margin-right: 8px;float:left">
    <i style="color:#000" class="fa fa-phone">
       </i>
    (+216) 20 731 161
</span>
</a>

<i class="fa-solid fa-truck"></i> Livraison gratuite à partir de 100<sup>dt</sup>  d'achats 
    </div>
<div class="col-md-3" style="padding: 6px; white-space: nowrap;">
    <a style="text-align:right;padding-top: 2px;color:#000;font-size:14px" href="/nous-contacterr">
    <i class="fa-solid fa-envelope " style="margin-right:4px;font-size: 22px;"> </i>CONTACT
</a>
<a style="text-align:right;padding-top: 2px;color:#000;font-size:14px" href="/mon-compte">
    <i class="fa-solid fa-user" style="margin-right: 4px; font-size: 22px;"></i>MON COMPTE
</a>
</div>
</div>
</div>



<div class="container-fluid">
    <div class="row" style="text-align: center; background-color:#fdeff5;">
        <div class="col-md-12" >
            <img class="logo img-responsive" src="assets/T-removebg-preview.png" alt="makeupstore" width="270px" height="200px" >
    </div>
    </div>
    
   
</div>
</div>



