<div>
<div class="content">
    <div class="product-top"><a [routerLink]="['/listproduit',pro.id]"><img [src]="pro.photo"/></a>
<div class="overlay">
<button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fa-regular fa-heart"></i></button>
</div>   
  </div>

        <div>
 <h3> {{pro.marque}}</h3>
 <h3> {{pro.nom}}</h3>
 
 <div *ngIf="pro.promo ;else pasPromo " class="h4"> 
  {{pro.prix*(0.8) | number:'3.2'}} <sup>TND</sup>
  <span><s>{{pro.prix}}</s> <sup>TND</sup>  </span>
 </div>
 
    
<ng-template #pasPromo>
<div class="h4">{{pro.prix}}<sup>TND</sup></div>
</ng-template>
 

         </div>
<div>
  <ngb-rating [max]="5" [(rate)]="pro.stars" [readonly]="true"></ngb-rating>

</div>



<div>
  <button type="button" class="buy-1" class="btn btn-dark" (click)="ajouterAuPanier()"> <i class="fa-solid fa-cart-shopping"></i>
      Ajouter au panier</button> 

    </div>
  </div>
</div>
    
