
.container{
    background: #ecf0f3;
    padding: 30px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #ecf0f3 ;
    margin-top: 30px;

}

.form-icon{
    color: pink;
    font-size: 55px;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    border-radius: 50px;
    box-shadow: 7px 7px 15px #cdced1, -7px -7px #ecf0f3;

}

.title{
    color: pink;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}


.btn{
    color: pink;
    background: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 15px 11px;
    border-radius: 20px;
    border: none;
    box-shadow: 6px 6px 6px #cbced1 -6px -6px -6px #fff ;
    margin: 25px 0 20px;
 
}

input.ng-valid{ border-left: 3px solid green;}
input.ng-invalid{ border-left: 3px solid red;}