<!doctype html>
<html lang="fr">

  <head>
    
      


  <meta charset="utf-8">


  <meta http-equiv="x-ua-compatible" content="ie=edge">



  <title>Vente de maquillage et produits de beauté en ligne</title>



  </head>
  <body>


    

<app-header></app-header>
   
        

    <div class="col-md-12 col-sm-12 position-static">
        <div class="row" >

    <div class="col-md-9 lab-menu-horizontal">
    <ul class="nav nav-tabs" >
<li class="nav-item"  class="level-1  parent"> <a routerLinkActive="actif" routerLink="/marque">MARQUE</a> </li>
<li class="nav-item"  class="level-1  parent"><a routerLinkActive="actif" routerLink="/ongles">ONGLES</a> </li>
<li class="nav-item"  class="level-1  parent"><a routerLinkActive="actif" routerLink="/levres">LEVRES</a></li>
<li class="nav-item"  class="level-1  parent"><a routerLinkActive="actif" routerLink="/yeux">YEUX</a></li>
    <li class="nav-item"  class="level-1  parent"><a routerLinkActive="actif" routerLink="/soin">SOIN</a></li>
        <li class="nav-item"  class="level-1  parent"><a routerLinkActive="actif" routerLink="/promo">PROMO</a></li>

    
</ul>
</div>
</div>
</div>

  </body>

  </html>